# Auto detect text files and perform LF normalization
* text=auto
# things that only make sense on github.com
.github export-ignore
nametoaddr.c filter=lfs diff=lfs merge=lfs -text
pcap_close.3pcap filter=lfs diff=lfs merge=lfs -text
pcap_dump_close.3pcap filter=lfs diff=lfs merge=lfs -text
pcap_dump_ftell.3pcap filter=lfs diff=lfs merge=lfs -text
pcap-namedb.h filter=lfs diff=lfs merge=lfs -text
pcap_set_tstamp_type.3pcap.in filter=lfs diff=lfs merge=lfs -text
pcap_strerror.3pcap filter=lfs diff=lfs merge=lfs -text
pcap-netfilter-linux.h filter=lfs diff=lfs merge=lfs -text
pcap_set_buffer_size.3pcap filter=lfs diff=lfs merge=lfs -text
configure.ac filter=lfs diff=lfs merge=lfs -text
msdos filter=lfs diff=lfs merge=lfs -text
pcap_file.3pcap filter=lfs diff=lfs merge=lfs -text
rpcapd filter=lfs diff=lfs merge=lfs -text
ethertype.h filter=lfs diff=lfs merge=lfs -text
pcap-null.c filter=lfs diff=lfs merge=lfs -text
post_update.sh filter=lfs diff=lfs merge=lfs -text
sslutils.c filter=lfs diff=lfs merge=lfs -text
CleanSpec.mk filter=lfs diff=lfs merge=lfs -text
configure filter=lfs diff=lfs merge=lfs -text
pcap-septel.c filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
savefile.c filter=lfs diff=lfs merge=lfs -text
atmuni31.h filter=lfs diff=lfs merge=lfs -text
nlpid.h filter=lfs diff=lfs merge=lfs -text
pcap-tc.c filter=lfs diff=lfs merge=lfs -text
sockutils.h filter=lfs diff=lfs merge=lfs -text
sslutils.h filter=lfs diff=lfs merge=lfs -text
pcap-bpf.c filter=lfs diff=lfs merge=lfs -text
pcap-haiku.cpp filter=lfs diff=lfs merge=lfs -text
tests filter=lfs diff=lfs merge=lfs -text
bpf_dump.c filter=lfs diff=lfs merge=lfs -text
sunatmpos.h filter=lfs diff=lfs merge=lfs -text
pcap-snit.c filter=lfs diff=lfs merge=lfs -text
pcap_stats.3pcap filter=lfs diff=lfs merge=lfs -text
fmtutils.h filter=lfs diff=lfs merge=lfs -text
pcap-int.h filter=lfs diff=lfs merge=lfs -text
pcap-linktype.manmisc.in filter=lfs diff=lfs merge=lfs -text
pcap-netfilter-linux-android.c filter=lfs diff=lfs merge=lfs -text
pcap_dump_file.3pcap filter=lfs diff=lfs merge=lfs -text
pcap.h filter=lfs diff=lfs merge=lfs -text
cmakeconfig.h.in filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
pcap_geterr.3pcap filter=lfs diff=lfs merge=lfs -text
pcap-nit.c filter=lfs diff=lfs merge=lfs -text
pcap_setfilter.3pcap filter=lfs diff=lfs merge=lfs -text
pcap-types.h filter=lfs diff=lfs merge=lfs -text
VERSION filter=lfs diff=lfs merge=lfs -text
bpf_filter.c filter=lfs diff=lfs merge=lfs -text
pcap-dpdk.h filter=lfs diff=lfs merge=lfs -text
pcap_loop.3pcap filter=lfs diff=lfs merge=lfs -text
pcap-netfilter-linux.c filter=lfs diff=lfs merge=lfs -text
pcap_open_offline.3pcap.in filter=lfs diff=lfs merge=lfs -text
pcap_setdirection.3pcap filter=lfs diff=lfs merge=lfs -text
pcap_get_required_select_timeout.3pcap filter=lfs diff=lfs merge=lfs -text
pcap_open_live.3pcap filter=lfs diff=lfs merge=lfs -text
doc filter=lfs diff=lfs merge=lfs -text
pcap-filter.manmisc.in filter=lfs diff=lfs merge=lfs -text
fmtutils.c filter=lfs diff=lfs merge=lfs -text
ftmacros.h filter=lfs diff=lfs merge=lfs -text
NOTICE filter=lfs diff=lfs merge=lfs -text
pcap-npf.c filter=lfs diff=lfs merge=lfs -text
config.guess filter=lfs diff=lfs merge=lfs -text
fad-glifc.c filter=lfs diff=lfs merge=lfs -text
pcap_tstamp_type_val_to_name.3pcap filter=lfs diff=lfs merge=lfs -text
pcap-usb-linux.c filter=lfs diff=lfs merge=lfs -text
CMakeLists.txt filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_BSD filter=lfs diff=lfs merge=lfs -text
pcap-rpcap-int.h filter=lfs diff=lfs merge=lfs -text
pcap-bt-linux.h filter=lfs diff=lfs merge=lfs -text
sockutils.c filter=lfs diff=lfs merge=lfs -text
pcap-dpdk.c filter=lfs diff=lfs merge=lfs -text
pcap-enet.c filter=lfs diff=lfs merge=lfs -text
pcap_get_tstamp_precision.3pcap.in filter=lfs diff=lfs merge=lfs -text
pcap-savefile.manfile.in filter=lfs diff=lfs merge=lfs -text
pcap-snf.h filter=lfs diff=lfs merge=lfs -text
pcap-common.h filter=lfs diff=lfs merge=lfs -text
pcap_datalink.3pcap.in filter=lfs diff=lfs merge=lfs -text
pcap-tstamp.manmisc.in filter=lfs diff=lfs merge=lfs -text
pcap-airpcap.c filter=lfs diff=lfs merge=lfs -text
pcap-config.in filter=lfs diff=lfs merge=lfs -text
pcap-dbus.c filter=lfs diff=lfs merge=lfs -text
pcap_freecode.3pcap filter=lfs diff=lfs merge=lfs -text
rpcap-protocol.h filter=lfs diff=lfs merge=lfs -text
scanner.l filter=lfs diff=lfs merge=lfs -text
fad-gifc.c filter=lfs diff=lfs merge=lfs -text
mkdep filter=lfs diff=lfs merge=lfs -text
pcap_list_tstamp_types.3pcap.in filter=lfs diff=lfs merge=lfs -text
pcap_set_rfmon.3pcap filter=lfs diff=lfs merge=lfs -text
install-sh filter=lfs diff=lfs merge=lfs -text
pcap_inject.3pcap filter=lfs diff=lfs merge=lfs -text
gencode.c filter=lfs diff=lfs merge=lfs -text
optimize.c filter=lfs diff=lfs merge=lfs -text
pcap-bt-monitor-linux.c filter=lfs diff=lfs merge=lfs -text
pcap_list_datalinks.3pcap.in filter=lfs diff=lfs merge=lfs -text
dlpisubs.h filter=lfs diff=lfs merge=lfs -text
gencode.h filter=lfs diff=lfs merge=lfs -text
pcap_set_protocol_linux.3pcap filter=lfs diff=lfs merge=lfs -text
rpcap-protocol.c filter=lfs diff=lfs merge=lfs -text
aclocal.m4 filter=lfs diff=lfs merge=lfs -text
pcap_dump.3pcap filter=lfs diff=lfs merge=lfs -text
Makefile.in filter=lfs diff=lfs merge=lfs -text
pcap-airpcap.h filter=lfs diff=lfs merge=lfs -text
pcap_set_immediate_mode.3pcap.in filter=lfs diff=lfs merge=lfs -text
CONTRIBUTING.md filter=lfs diff=lfs merge=lfs -text
libpcap.pc.in filter=lfs diff=lfs merge=lfs -text
pcap-pf.c filter=lfs diff=lfs merge=lfs -text
pcap-rpcap.c filter=lfs diff=lfs merge=lfs -text
pcap-dll.rc filter=lfs diff=lfs merge=lfs -text
pcap_create.3pcap filter=lfs diff=lfs merge=lfs -text
pcap-dlpi.c filter=lfs diff=lfs merge=lfs -text
pcap_get_selectable_fd.3pcap filter=lfs diff=lfs merge=lfs -text
ppp.h filter=lfs diff=lfs merge=lfs -text
pcap_lookupdev.3pcap filter=lfs diff=lfs merge=lfs -text
pcap-bpf.h filter=lfs diff=lfs merge=lfs -text
pcap_lookupnet.3pcap filter=lfs diff=lfs merge=lfs -text
pcap-sita.h filter=lfs diff=lfs merge=lfs -text
charconv.c filter=lfs diff=lfs merge=lfs -text
pcap_datalink_val_to_name.3pcap filter=lfs diff=lfs merge=lfs -text
pcap-dos.h filter=lfs diff=lfs merge=lfs -text
pcap-rdmasniff.h filter=lfs diff=lfs merge=lfs -text
pcap-dbus.h filter=lfs diff=lfs merge=lfs -text
pcap-libdlpi.c filter=lfs diff=lfs merge=lfs -text
varattrs.h filter=lfs diff=lfs merge=lfs -text
extract.h filter=lfs diff=lfs merge=lfs -text
INSTALL.md filter=lfs diff=lfs merge=lfs -text
pcap-dos.c filter=lfs diff=lfs merge=lfs -text
pcap-rpcap.h filter=lfs diff=lfs merge=lfs -text
pcap_snapshot.3pcap filter=lfs diff=lfs merge=lfs -text
testprogs filter=lfs diff=lfs merge=lfs -text
CHANGES filter=lfs diff=lfs merge=lfs -text
pcap-config.1 filter=lfs diff=lfs merge=lfs -text
pcap_offline_filter.3pcap filter=lfs diff=lfs merge=lfs -text
pcap-usb-linux.h filter=lfs diff=lfs merge=lfs -text
sf-pcap.c filter=lfs diff=lfs merge=lfs -text
config.h.in filter=lfs diff=lfs merge=lfs -text
grammar.y.in filter=lfs diff=lfs merge=lfs -text
pcap_statustostr.3pcap filter=lfs diff=lfs merge=lfs -text
pcap-dag.h filter=lfs diff=lfs merge=lfs -text
pcap-septel.h filter=lfs diff=lfs merge=lfs -text
sf-pcapng.c filter=lfs diff=lfs merge=lfs -text
pcap-tc.h filter=lfs diff=lfs merge=lfs -text
pcap-snf.c filter=lfs diff=lfs merge=lfs -text
pcap_tstamp_type_name_to_val.3pcap filter=lfs diff=lfs merge=lfs -text
cmake filter=lfs diff=lfs merge=lfs -text
pcap.c filter=lfs diff=lfs merge=lfs -text
pcap_dump_open.3pcap.in filter=lfs diff=lfs merge=lfs -text
pcap_is_swapped.3pcap filter=lfs diff=lfs merge=lfs -text
pcap-rdmasniff.c filter=lfs diff=lfs merge=lfs -text
pcap_set_promisc.3pcap filter=lfs diff=lfs merge=lfs -text
etherent.c filter=lfs diff=lfs merge=lfs -text
sf-pcap.h filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
pcap_set_tstamp_precision.3pcap.in filter=lfs diff=lfs merge=lfs -text
portability.h filter=lfs diff=lfs merge=lfs -text
pcap-netmap.c filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
pcap filter=lfs diff=lfs merge=lfs -text
pcap_activate.3pcap filter=lfs diff=lfs merge=lfs -text
pcap_can_set_rfmon.3pcap filter=lfs diff=lfs merge=lfs -text
pcap_findalldevs.3pcap filter=lfs diff=lfs merge=lfs -text
org.tcpdump.chmod_bpf.plist filter=lfs diff=lfs merge=lfs -text
pcap_set_timeout.3pcap filter=lfs diff=lfs merge=lfs -text
arcnet.h filter=lfs diff=lfs merge=lfs -text
pcap_breakloop.3pcap filter=lfs diff=lfs merge=lfs -text
Win32 filter=lfs diff=lfs merge=lfs -text
ChmodBPF filter=lfs diff=lfs merge=lfs -text
pcap_dump_flush.3pcap filter=lfs diff=lfs merge=lfs -text
pcap_init.3pcap filter=lfs diff=lfs merge=lfs -text
pcap_open_dead.3pcap.in filter=lfs diff=lfs merge=lfs -text
pcap_set_datalink.3pcap filter=lfs diff=lfs merge=lfs -text
TODO filter=lfs diff=lfs merge=lfs -text
pcap-linux.c filter=lfs diff=lfs merge=lfs -text
pcap_next_ex.3pcap filter=lfs diff=lfs merge=lfs -text
charconv.h filter=lfs diff=lfs merge=lfs -text
config.h filter=lfs diff=lfs merge=lfs -text
pcap-common.c filter=lfs diff=lfs merge=lfs -text
pcap_fileno.3pcap filter=lfs diff=lfs merge=lfs -text
pcap-snoop.c filter=lfs diff=lfs merge=lfs -text
bpf_image.c filter=lfs diff=lfs merge=lfs -text
pcap_compile.3pcap.in filter=lfs diff=lfs merge=lfs -text
sf-pcapng.h filter=lfs diff=lfs merge=lfs -text
dlpisubs.c filter=lfs diff=lfs merge=lfs -text
Makefile-devel-adds filter=lfs diff=lfs merge=lfs -text
pcap-bt-linux.c filter=lfs diff=lfs merge=lfs -text
pcap-new.c filter=lfs diff=lfs merge=lfs -text
scanner.c filter=lfs diff=lfs merge=lfs -text
lbl filter=lfs diff=lfs merge=lfs -text
pcap-bt-monitor-linux.h filter=lfs diff=lfs merge=lfs -text
pcap_setnonblock.3pcap filter=lfs diff=lfs merge=lfs -text
pcap_set_snaplen.3pcap filter=lfs diff=lfs merge=lfs -text
nametoaddr.h filter=lfs diff=lfs merge=lfs -text
pcap.3pcap.in filter=lfs diff=lfs merge=lfs -text
diag-control.h filter=lfs diff=lfs merge=lfs -text
grammar.c filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
chmod_bpf filter=lfs diff=lfs merge=lfs -text
missing filter=lfs diff=lfs merge=lfs -text
pcap_major_version.3pcap filter=lfs diff=lfs merge=lfs -text
pcap-sita.html filter=lfs diff=lfs merge=lfs -text
scanner.h filter=lfs diff=lfs merge=lfs -text
CREDITS filter=lfs diff=lfs merge=lfs -text
fad-getad.c filter=lfs diff=lfs merge=lfs -text
ieee80211.h filter=lfs diff=lfs merge=lfs -text
optimize.h filter=lfs diff=lfs merge=lfs -text
pcap-dag.c filter=lfs diff=lfs merge=lfs -text
nomkdep filter=lfs diff=lfs merge=lfs -text
pcap_lib_version.3pcap filter=lfs diff=lfs merge=lfs -text
pcap-netmap.h filter=lfs diff=lfs merge=lfs -text
llc.h filter=lfs diff=lfs merge=lfs -text
pcap-netfilter-linux-android.h filter=lfs diff=lfs merge=lfs -text
pcap-sita.c filter=lfs diff=lfs merge=lfs -text
cmake_uninstall.cmake.in filter=lfs diff=lfs merge=lfs -text
config.sub filter=lfs diff=lfs merge=lfs -text
grammar.h filter=lfs diff=lfs merge=lfs -text
pcap_datalink_name_to_val.3pcap filter=lfs diff=lfs merge=lfs -text
